<section class="header">
    <div ui-sref='pokedex' class="pokeTitle pokeFont">
        PokeDev
    </div>
    <div ui-sref="About" class="about">
        About
    </div>
    <div ui-sref="whosThatPoke" class = "WhosThat">
      Whos That Pokemon ?
    </div>

<section class="aboutInfo">
<p class ="aboutCenter">This is an API calling application that creates a pokedex template </br> based on the info called from https://pokeapi.co/ .  Credit to  Lucian Novosel from the Noun Project  for the PokeBall icon </p>
  <img class="PokeCon rotateAni" src ="../Fonts/PokeBall.png">
  <p
</section>
</section>
