<section class="header">
    <div ui-sref='pokedex' class="pokeTitle pokeFont">
        Who's That Pokemon??
    </div>
    <div ui-sref="About" class="about">
        About
    </div>
</section>
<section class="miniGameBox">
  <audio>
    <source src="https://www.youtube.com/watch?v=DXUhVhibGsU">
    </audio>
  <form>
      <button type="submit" class=" " ng-click='randomPokeID'>
      <img class="PokeCon" src ="../Fonts/PokeBall.png"></button>
      <input type="text" class="gameText" ng-model="" placeholder="Put in your Answer!">


  </form>
  <div>
  <img class="mysteryPokemon">
  </div>
  <div>

</div>
</section>
